.footer {
	height: 50px;
	border-top: 1px solid #eee;
	background: 
}

.header-active {
	/*border-bottom: 1px solid blue;*/
	box-shadow: 0 10px 10px -10px blue;
}

.basic-info-slider-container {
	height: 400px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}

/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
}

.feature-info-container {
	height: 400px;
}

.feature-box {
	margin-top: 50px;
	height: 100%;
	text-align: center;
}

.footer-box {
	text-align:center;
	padding: 20px;
}

.item-details {
  position: relative;
  display: block;
  width: 95%;
  height: 350px;
  margin: 20px auto;
  padding: 10px;
  
  background-color: #fff;
  border: 1px solid #ccc;

  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  transform-style: flat;
  transition: all 250ms ease-out;
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
    	transition: all 250ms ease-out;
  }
}

.item-details:hover {
	border: 1px solid #fff;
	box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.item-details img {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.display-feature-box {
	height: 500px;
	border-right: 1px solid #ccc;
	margin-bottom: 50px;
}

.login-box {
	height: 400px;
	margin-bottom: 50px;
	padding: 0px 40px;
}

.register-box {
	height: 400px;
	margin-bottom: 50px;
	padding: 0px;
}

.profile-option-box {
	height: 640px;
	margin-top: 20px;
	margin-bottom: 5px;
	border-right: 1px solid #ccc;
	padding: 0px;
}

.profile-detail-box {
	height: 640px;
	margin-bottom: 5px;
	margin-top: 30px;
}